body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #d9f0fc;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #61b2f5;
  border-radius: 10px;
  background-color: #61b2f5;
  box-shadow: 3px 3px 3px #b7d3f8;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(255, 255, 255);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 1px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

small {
  color: #2f93e6;
}
